.python-version
__pycache__/
.env

uploads/

# node modules
node_modules/

# Expo
.expo/
.expo-shared/

# build files
dist/
build/
web-build/
android/app/build/
ios/Pods/

# system files
*.DS_Store
*.log
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# macOS system files
.idea/
.vscode/

# dotenv
.env
.env.*.local

# React Native
ios/build/
android/.gradle/
android/.idea/
android/local.properties
android/.settings/
android/*.iml
android/.gradle/
android/captures/
android/gradle.properties

# Watchman (if using)
.watchmanconfig

# Metro / Babel cache
babel.config.js
.cache/
expo-debug.log

# miscellaneous
*.jks
*.keystore
*.p12
*.key
*.pem
*.crt
