Flask
flask-cors
flask-sqlalchemy
gunicorn
gTTS
SpeechRecognition
Werkzeug
PyJWT
psycopg2-binary
faiss-cpu
groq
langchain
unstructured
sentence-transformers
langchain-community
langchain-groq
langchain-huggingface
openai 
langchain-openai 
pdfminer
pymupdf